<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
    <button
      fxHide.gt-xs
      mat-icon-button
      class="example-icon"
      aria-label="Toggle sidenav button"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title" routerLink="/">
      <span fxLayout="row" fxLayoutAlign="space-between center"
        >ReplyMind <mat-icon class="ml-5">donut_large</mat-icon></span
      >
    </a>
  </div>

  <ul
    class="toolbar-navigation-links"
    fxLayout
    fxLayoutAlign="end center"
    fxLayoutGap="5px"
    fxHide.xs
  >
    <li *ngIf="!isLoggedIn">
      <a routerLink="login" mat-button color="primary">Login</a>
    </li>
    <li *ngIf="!isLoggedIn">
      <a routerLink="create-or-update" mat-button color="primary"
        >Create Account</a
      >
    </li>
    <li *ngIf="isLoggedIn">
      <a (click)="logout()" mat-button color="primary">Logout</a>
    </li>
  </ul>
</mat-toolbar>
