<mat-nav-list>
  <a
    mat-list-item
    routerLink="login"
    routerLinkActive="active-nav"
    (click)="onClickSidenavLink()"
    *ngIf="!isLoggedIn"
  >
    <mat-icon class="sidenav-link-icon">login</mat-icon>
    <span class="sidenav-link-label">Login</span>
  </a>

  <a
    mat-list-item
    routerLink="create-or-update"
    routerLinkActive="active-nav"
    (click)="onClickSidenavLink()"
    *ngIf="!isLoggedIn"
  >
    <mat-icon class="sidenav-link-icon">person_add</mat-icon>
    <span class="sidenav-link-label">Create Account</span>
  </a>
  <a
    *ngIf="isLoggedIn"
    mat-list-item
    routerLink=""
    routerLinkActive="active-nav"
    (click)="onClickSidenavLink()"
  >
    <mat-icon class="sidenav-link-icon">person</mat-icon
    ><span class="sidenav-link-label">My Profile</span>
  </a>
  <a
    *ngIf="isLoggedIn"
    mat-list-item
    routerLinkActive="active-nav"
    (click)="logout()"
  >
    <mat-icon class="sidenav-link-icon">logout</mat-icon
    ><span class="sidenav-link-label">Logout</span>
  </a>
</mat-nav-list>
