<div class="container" fxLayout="row" fxLayoutAlign="center start">
  <div class="p-24" fxFlex="50%" fxFlex.lt-lg="100%">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="space-between center"
      fxLayoutAlign.lt-md="start center"
      fxLayoutGap.lt-md="24px"
      class="mb-24"
    >
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <h-avatar [name]="getFullName()"></h-avatar>

        <h2>
          {{ user.Salutation + " " + user.FirstName + " " + user.LastName }}
        </h2>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <button mat-raised-button color="primary">Update</button>
        <button mat-raised-button color="warn">Delete</button>
      </div>
    </div>

    <p class="bio-text mb-16">{{ user.Bio }}</p>

    <div class="details-container-card mb-16">
      <section class="heading">
        <h3 class="section-header">{{ "Personal Information" }}</h3>
      </section>

      <mat-divider></mat-divider>

      <section
        class="info-container"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="12px"
      >
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Email" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{ user.Email }}
          </p>
        </div>
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Date of Birth" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{ user.DateOfBirth | date : "mediumDate" }}
          </p>
        </div>
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Address" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{
              user.StreetAddress +
                ", " +
                user.City +
                "-" +
                user.PostalCode +
                ", " +
                user.Country
            }}
          </p>
        </div>
      </section>
    </div>

    <div class="details-container-card">
      <section class="heading">
        <h3 class="section-header">{{ "Professional Information" }}</h3>
      </section>

      <mat-divider></mat-divider>

      <section
        class="info-container"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="12px"
      >
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Profession" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{ user.Profession }}
          </p>
        </div>
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Years of Experience" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{ user.WorkExperienceInYears }}
          </p>
        </div>
        <div
          class="w-100-p"
          fxLayout.gt-sm="row"
          fxLayout="column"
          fxLayoutAlign.gt-sm="start center"
        >
          <p fxFlex.gt-sm="30" fxFlex="100%" class="details-key-text">
            {{ "Ares of Expertise" }}
          </p>
          <p fxFlex.gt-sm="70" fxFlex="100%" class="details-value-text">
            {{ user.AreasOfExpertise | commaSeparated }}
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
