<section class="container" fxLayout="row" fxLayoutAlign="center start">
  <form
    [formGroup]="loginForm"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="16px"
    class="mt-80"
  >
    <mat-form-field>
      <mat-label>Enter email</mat-label>
      <input type="email" matInput formControlName="Email" />
      <mat-error *ngIf="loginForm.controls.Email.hasError('required')"
        >This field is required</mat-error
      >
      <mat-error *ngIf="loginForm.controls.Email.hasError('email')"
        >Invalid email address</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter password</mat-label>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <input
          type="{{ hidePassword ? 'password' : 'text' }}"
          matInput
          formControlName="Password"
        />
        <button
          mat-icon-button
          type="button"
          (click)="togglePasswordVisibility()"
        >
          <mat-icon class="password-visibility-toggle-btn">{{
            hidePassword ? "visibility" : "visibility_off"
          }}</mat-icon>
        </button>
      </div>
      <mat-error *ngIf="loginForm.controls.Password.hasError('required')"
        >This field is required</mat-error
      >
    </mat-form-field>

    <mat-spinner *ngIf="isLoading" [diameter]="40"></mat-spinner>
    <button
      *ngIf="!isLoading"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="login()"
      [disabled]="loginForm.invalid || isLoading"
    >
      Submit
    </button>
  </form>
</section>
